/* F0EEE9 클라우드댄서 */

.form-check-input:checked {
    background-color: #323a46 !important;
    border-color: #323a46 !important;
}

/* 변수까지 덮기 */
:root {
    --ct-primary: #323a46;
}

.card {
    width: 380px;
    margin: 0 auto;
    border: 1px solid #cfd1d4;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.footer.footer-alt {
    display: block !important;
    text-align: center;
}