/* ==== 상단바 ==== */
.navbar-custom {
  padding: 0 !important;
  /* margin: 0; */
  background-color: white;
}

.topbar-right-top {
  padding-top: 10px;
}

.topbar-menu i,
span {
  color: #6c757d;
}

/* 검색창 */
.search-icon {
  color: #6c757d !important;
}

#top-search::-webkit-input-placeholder {
  color: #6c757d;
}
#top-search:-ms-input-placeholder {
  color: #6c757d;
}

#top-search {
  border: 1px solid #b3b3b3;
}

.navbar-custom .topbar .app-search form .form-control {
  color: black;
  background-color: white;
}

/* 로고 */
.logo-box .logo-lg {
  height: 70px;
}

/* ==== 가로 메뉴 바 ==== */
.menubar {
  background-color: #f0eee9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--ct-horizontal-menu-hight);
  min-height: var(--ct-horizontal-menu-height);
  max-height: var(--ct-horizontal-menu-height);
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  top: var(--ct-topbar-height);
  padding: 0;
  border-radius: 0;
  /* border-top: 1px solid #6c757d; */
}

.menubar ul.menu {
  /* font-weight: bold; */
  min-width: 50% !important;
  display: flex auto !important;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.menu .menu-item .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  position: relative;
  color: var(--ct-menu-item-color);
  gap: var(--ct-menu-link-item-gap);
  -webkit-transition: var(--ct-menu-transition);
  transition: var(--ct-menu-transition);
  border-radius: var(--ct-border-radius);
  font-size: var(--ct-menu-item-font-size);
  padding: 0px 0px;
}

.menu-on {
  font-weight: bold;
  color: black;
}

/* ====== 본문 영역 ======= */
.content-page {
  background-color: white;
}

.content {
  margin-top: 10px !important;
  display: flex;
  justify-content: space-between;
  background-color: white !important;
}

.content .row {
  padding: 10px 0px;
}

/* .container-fluid {
  width: 75%;
  margin-left: 250px;
} */

/* ===== 사이드바 ===== */
.content-page .sidebar {
  width: 230px;
  background-color: #f0eee9 !important;
  padding-top: 20px;
}

.sidebar .menu .menu-item .menu-link {
  padding: var(--ct-menu-link-padding-y) var(--ct-menu-link-padding-x);
}

.sidebar .menu .menu-item .menu-link .menu-text {
  padding: 0px 0px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar .sub-menu .menu-item .menu-text {
  font-size: var(--ct-menu-item-font-size) !important;
  font-weight: normal !important;
}

/* ======  carousel =========== */

/* 메인 화면 이벤트 carousel */
#carouselEvent .img-fluid {
  width: 100%;
  height: 600px;
}

/* 작품 carousel */
#carouselworks .carousel-item {
  display: flex;
  padding: 0px 15px;
}

#carouselworks .card {
  width: calc(100% / 6.5);
  height: 335px;
}

#carouselworks .carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9); /* 살짝 투명 */
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#carouselworks .carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

#carouselworks .carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px;
  color: black; /* 여기서 색 변경 가능 */
}

#carouselworks .card-img-top {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

#carouselworks .card .card-body {
  padding: 5px;
}
