#wrapper {
  background-color: white;
}

/* ==== 상단바 ==== */
.navbar-custom {
  padding: 0 30px !important;
  /* margin: 0; */
  background-color: white;
}

.navbar-custom .topbar {
  margin: 0 auto !important;
  padding: 0;
}

.topbar-right-top {
  padding-top: 10px;
}

.topbar-menu i,
span {
  color: #6c757d;
}

/* 검색창 */
.search-icon {
  color: #6c757d !important;
}

#top-search::-webkit-input-placeholder {
  color: #6c757d;
}
#top-search:-ms-input-placeholder {
  color: #6c757d;
}

#top-search {
  border: 1px solid #b3b3b3;
}

.navbar-custom .topbar .app-search form .form-control {
  color: black;
  background-color: white;
}

/* 로고 */
.navbar-custom .logo-box .logo-lg {
  height: 70px;
}

/* ==== 가로 메뉴 바 ==== */
.menubar {
  background-color: #f0eee9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--ct-horizontal-menu-hight);
  min-height: var(--ct-horizontal-menu-height);
  max-height: var(--ct-horizontal-menu-height);
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  top: var(--ct-topbar-height);
  padding: 0;
  border-radius: 0;
  /* border-top: 1px solid #6c757d; */
}

.menubar ul.menu {
  /* font-weight: bold; */
  min-width: 50% !important;
  display: flex auto !important;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.menubar .menu .menu-item .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  position: relative;
  color: var(--ct-menu-item-color);
  gap: var(--ct-menu-link-item-gap);
  -webkit-transition: var(--ct-menu-transition);
  transition: var(--ct-menu-transition);
  border-radius: var(--ct-border-radius);
  font-size: var(--ct-menu-item-font-size);
  padding: 0px 0px;
}

.menu-on {
  font-weight: bold;
  color: black;
}

/* ====== 본문 영역 ======= */
.content-page {
  background-color: white;
  padding: 0px 30px !important;
  max-width: 1170px;
  margin: 0 auto;
}

.content-page .content {
  margin-top: 10px !important;
  display: flex;
  justify-content: space-between;
  background-color: white !important;
}

.content-page .content .row {
  padding: 10px 0px;
}

/* 브레드크럼(breadcrumb) */
/* .yj-breadcrumb {
  margin-bottom: 10px;
} */

/* .container-fluid {
  width: 75%;
  margin-left: 250px;
} */

/* ===== 사이드바 ===== */
.content-page .sidebar {
  width: 200px;
  background-color: #f0eee9 !important;
  padding-top: 20px;
}

.sidebar .menu .menu-item .menu-link {
  padding: var(--ct-menu-link-padding-y) var(--ct-menu-link-padding-x);
}

.sidebar .menu .menu-item .menu-link .menu-text {
  padding: 0px 0px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar .sub-menu .menu-item .menu-text {
  font-size: var(--ct-menu-item-font-size) !important;
  font-weight: normal !important;
}

/* ====== 메인화면 관련 css =========== */

/* 메인 화면 이벤트 carousel 관련 */

#event-carousel {
  max-width: 1170px;
  max-height: 414px;
}

#event-carousel .event-carousel-item {
  width: 100%;
  height: 100%;

  max-width: 1170px;
  max-height: 414px;
}

#event-carousel img {
  width: 100%;
  height: 100%;

  max-width: 1170px;
  max-height: 414px;
}

/* #event-carousel .carousel-item {
  width: 100%;
  height: 100%;
} */

/* #event-carousel .carousel-item img {
  width: 100%;
  height: 100%;

  object-fit: cover;
} */

/* #event-carousel .carousel-item .img-fluid {
  width: 100%;
  height: 100%;
} */

/* #event-carousel .carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9); /* 살짝 투명 */
/*border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */

/* #event-carousel .carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
} */

/* #event-carousel .carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px;
  color: black; /* 여기서 색 변경 가능 */
/* } */

/* 작품 랙(슬라이드) 제목 */
.works-slide .slide-title {
  margin-bottom: 10px;
}

/* 슬라이드 내부 작품 card 설정 */
.works-slide .card {
  width: calc(100% / 6);
  height: auto;
  padding: 0px 5px;
  /* overflow: visible; */
}

.works-slide .card-img-top {
  aspect-ratio: 2 / 3;
  /* object-fit: cover; */
}

.works-slide .card-body {
  padding: 10px 0px;
}

.works-slide .card-body > div {
  margin-right: 10px;
  margin-bottom: 3px;
}

.works-slide .card .card-body .title {
  color: black;
  font-size: 16px;
  font-weight: 450;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.works-slide .card .like-cnt {
  color: red;
}

.thumbnail-wrap {
  position: relative;
}

/* 성인 작품 표시 뱃지 */
.adult-badge {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 28px;
  height: 28px;

  border: 1.5px solid red;
  border-radius: 50%;

  background: white;
  color: black;

  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* slick 버튼 커스텀 */
.slick-custom-prev,
.slick-custom-next {
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;

  width: 40px;
  height: 40px;

  border: none;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.9);

  border: 1px solid rgba(0, 0, 0, 0.08);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.slick-custom-prev {
  left: -1px;
}

.slick-custom-next {
  right: -1px;
}

.slick-custom-prev i,
.slick-custom-next i {
  font-size: 24px;
  color: black;
}

.slick-disabled {
  opacity: 0.4;
  cursor: default;
  background: #f1f1f1;
  color: #999;
}

.works-slide .slick-custom-prev,
.works-slide .slick-custom-next {
  top: 35%;
}

#event-carousel .slick-custom-prev,
#event-carousel .slick-custom-next {
  top: 50%;
}

/* slick dots 커스텀 */
.slick-dots {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}

/* ========== 마이페이지 내의 페이지 관련============= */
.page-title-box .yj-page-title {
  line-height: 2 !important;
}

.my-post-list tbody .text-start .post-title {
  text-decoration: none;
}

/* 내글/댓글 관리 페이지 */
.my-post-list tbody .text-start .post-title:hover {
  text-decoration: underline;
}

.comment-post-title {
  font-size: 14px;
  color: #6c757d;

  margin-bottom: 4px;
}

.comment-content {
  font-size: 15px;
  color: #212529;

  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.my-comment-list .comment-link {
  text-decoration: none;
}

.my-comment-list .comment-link:hover {
  text-decoration: underline;
}
